<!DOCTYPE html>
<html>
  <head>
    <title>Gulp &amp; Express &amp; Pug &amp; Stylus</title>
    <meta name="desctiption" content="">
    <meta name="desctiption" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <nav>
      <div class="container">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </nav>
    {{{ body }}}
    <footer>
      <div class="container">
        <h6>this is the footer</h6>
        <p>All information copyright &copy; 2016 | RNR, LLC</p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
  </body>
</html>
