<div class="col s2 blue-grey lighten-2" id="sidebar">
  <div class="container">
    <div class="row center-align">
      <div class="col s12">
        <img src="http://placehold.it/100x100" class="circle" alt="profile pic" />
      </div>
      <div class="col s12">
        <ul>
          <li>Link #1</li>
          <li>Link #2</li>
        </ul>
      </div>
    </div>
  </div>
</div>
