<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Panda - Your Coding Bootcamp Guide</title>
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.ico">
  <!-- CSS  -->
  <!-- content tools -->
  <link rel="stylesheet" href="css/content-tools.min.css">
  <!-- materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,400i,700" rel="stylesheet">
  <!-- custom styles -->
  <link href="css/styles.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-teal-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    
    <div class="page-wrapper">
      <nav class="white" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo"><img src="/img/panda_panda.svg" height="100px"alt=""></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/login/github"><i class="material-icons">power_settings_new</i> Login with Github</a></li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><a href="#"><i class="material-icons">power_settings_new</i> Login with Github</a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </nav>

      <div id="index-banner" class="parallax-container index-hero">
        <div class="overlay overlay--dark"></div>
        <div class="section no-pad-bot">
          <div class="container">
            <br><br>
            <h1 class="header center uppercase animated fadeInDown">The tools you need <br>to succeed</h1>
            <div class="row center">
              <h5 class="header col s12 light animated fadeInUp">Panda is your coding bootcamp guide.</h5>
            </div>
            <div class="row center">
              <a href="/login/github" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
            </div>
            <br><br>

          </div>
        </div>
        <div class="parallax"><img src="img/dt7.jpeg" alt="Unsplashed background img 1"></div>
      </div>



      <div class="laptop">
      <div class="container">
        <div class="section">
          <div class="row">
            <div class="col s12">
              <h3 class="center">Features</h3>
            </div>
          </div>

          <div class="row">
            <div class="col s12 m6">
              <ul class="features-list">
                <li>
                  <i class="material-icons">video_library</i>
                  <span class="uppercase"><strong>Curated Content</strong></span>
                  <br>
                  <p class="light">A variety of videos and other materials carefully chosen and directly related to your tech stack.</p>
                  </li>
                <li>
                  <i class="material-icons">pageview</i>
                  <span class="uppercase"><strong>Targeted Job Search</strong></span>
                  <p class="ight">We provide filtered jobs from top job boards all related to your skills and your area.</p>
                </li>
                <li>
                  <i class="material-icons">perm_contact_calendar</i>
                  <span class="uppercase"><strong>Elegant Profile</strong></span>
                  <br>
                  <p class="light">Present your favorite Github projects in an easy to share profile page.</p>
                </li>
              </ul>
            </div>
            <div class="col s12 m6">
              <img src="img/laptop-profile.png" class="hide-on-med-and-up" alt="Laptop">
            </div>
          </div>
        </div>
      </div>
      </div>










      <div class="parallax-container valign-wrapper">
        <div class="overlay overlay--light-yellow"></div>
        <div class="section no-pad-bot">
          <div class="container">
            <div class="row center">
              <span class="amp">&amp;</span>
              <h4 class="header col s12 bold black-text">
                Spend less time searching 
                <br>
                &amp; more time learning
              </h4>
            </div>
          </div>
        </div>
        <div class="parallax"><img src="/img/bg2.jpg" alt="Unsplashed background img 2"></div>
      </div>











      <!-- testimonials -->
      <div class="color-section color-section--light-gray">
      <div class="container">
        <div class="section">

          <div class="row">
            <div class="col s12">
              <h3 class="center">Testimonials</h3>
              <p class="center">Read what your fellow developers have to say.</p>
            </div>
          </div>

            <!--   Icon Section   -->
            <div class="row">
              


        
              <div class="col s12 m6">
              <div class="card-panel testimonial">
                <div class="icon-block center">
                  <h2 class="center">
                    <!--<i class="material-icons">flash_on</i>-->
                    <img src="img/gr.jpeg" alt="George Ramirez" height="150" class="circle">
                  </h2>
                  <h6>George Ramirez</h6>
                  <p>Full Stack Javascript Developer</p>
                </div>
                <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum impedit!</p>
              </div>
              </div>


              <div class="col s12 m6">
              <div class="card-panel testimonial">
                <div class="icon-block center">
                  <h2 class="">
                    <!--<i class="material-icons">settings</i>-->
                    <img src="img/al.jpeg" alt="Aaron" height="150" class="circle">
                  </h2>
                  <h6>Aaron Lee</h6>
                  <p>Full Stack Javascript Developer</p>
                </div>
                <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aliquid autem.</p>
              </div>
              </div>



              <div class="col s12 m6">
              <div class="card-panel testimonial">
                <div class="icon-block center">
                  <h2 class="">
                    <!--<i class="material-icons">settings</i>-->
                    <img src="img/vn.png" alt="Vince" height="150" class="circle">
                  </h2>
                  <h6>Vince Nguyen</h6>
                  <p>Full Stack Javascript Developer</p>
                </div>
                <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus iure reprehenderit sapiente.</p>
              </div>
              </div>


              <div class="col s12 m6">
              <div class="card-panel testimonial">
                <div class="icon-block center">
                  <h2 class="">
                    <!--<i class="material-icons">settings</i>-->
                    <img src="img/ar.jpeg" alt="Alex" height="150" class="circle">
                  </h2>
                  <h6>Alex Rodriguez</h6>
                  <p>Front End Developer</p>
                </div>
                <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi explicabo reiciendis.</p>
              </div>
              </div>




          


          </div><!-- /row -->
        </div>
      </div>
      </div>











      <div class="container">
        <div class="section">

          <div class="row">
            <div class="col s12 center">
              <h3><i class="mdi-content-send brown-text"></i></h3>
              <h4>Contact Us</h4>
              <p class="left-align light">
                We'd love your feedback! Please let us know if we're missing anything. Or if you'd like to contribute any resources
                you have found useful, please send them over. We welcome your contributions!
              </p>
              <p>
                Email: <a href="mailto:pandaashelpers@gmail.com">pandaashelpers@gmail.com</a>
              </p>
              <p>
                Twitter: <a href="https://twitter.com/panda_guide_app">@panda_guide_app</a>
              </p>
            </div>
          </div>

        </div>
      </div>













      <div class="parallax-container valign-wrapper">
        <div class="overlay overlay--dark"></div>
        <div class="section no-pad-bot">
          <div class="container">
            <div class="row center">
              <h5 class="header col s12 light">From start to finish, Panda is always at your side</h5>
            </div>
          </div>
        </div>
        <div class="parallax"><img src="/img/background3.jpg" alt="Unsplashed background img 3"></div>
      </div>

      <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Company Bio</h5>
            <p class="grey-text text-lighten-4">
              <span class="bold">Panda</span> is a collective of budding entrepreneurs, designers and developers striving to learn and share knowledge with their colleagues, co-workers and classmates.  
            </p>


          </div>
          <div class="col l4 offset-l2 s12">

            {{#if user}}
            <h5 class="white-text">Hi, {{user.displayName}}!</h5>
            <p class="white-text">If you are enjoying Panda, <a class="amber-text text-lighten-3" href="http://twitter.com/pandaguide">tell your friends</a>!</p>
            {{else}}
            <h5 class="white-text">Login</h5>
            <a href="/login/github" class="waves-effect waves-light btn amber"><i class="material-icons left">power_settings_new</i>Login with Github</a>
            {{/if}}
            
          </div>
        </div><!-- /row -->
      </div>
      <div class="footer-copyright">
        <div class="container">
          <div class="row">
             <div class="col s12 m6">
               Made by Panda with help from <a class="amber-text text-lighten-3" href="http://materializecss.com">Materialize</a>
             </div>
             <div class="col s12 m6 right-align">
               <a class="amber-text text-lighten-3" href="/api/v1">Panda API</a>
             </div>
          </div>
        </div>
      </div>
    </footer>


    </div><!--/page-wrapper -->




  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <script src="/js/init.js"></script>
  
  </body>
</html>
