.profile {
  padding-top: 2rem; }

.profile-image {
  border: 2px solid #e3e3e3;
  max-width: 50%; }

.secondary-nav {
  display: none;
  padding: 2rem 0;
  text-align: right; }
  @media only screen and (min-width: 992px) {
    .secondary-nav {
      display: block; } }

.secondary-nav li {
  padding: 1rem;
  border-bottom: 1px solid #e0e0e0; }
