body {
  background-color: #f4f4f4; }

/*
 * HEADER 
*/
.profile-header .profile-image {
  max-width: 20%; }

.profile-header h5 + p {
  margin-top: 0; }

.profile-header p {
  font-size: 18px; }

.user-name {
  text-transform: uppercase; }

.user-statement p {
  font-size: 1.6rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: lighter;
  line-height: 2.2rem; }

.profile-header .home-button {
  height: 48px;
  left: 16px;
  position: fixed;
  top: 80px;
  width: 48px;
  z-index: 10; }

/*
 * PROJECT CARDS 
*/
.project-card {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  /* light-overlay: */
  background-image: linear-gradient(-225deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 8px;
  min-height: 400px;
  padding: 2rem; }

.project-card--light {
  background: #D8D1C0;
  color: #4B4B4B; }

.project-card--light a {
  color: #4B4B4B; }

.project-card--dark {
  background: #4B4B4B;
  color: #B5AA92; }

.project-card--dark a {
  color: #B5AA92; }

.project-card--dark p {
  color: #F6F6F6; }

.project-card--lower {
  margin-top: 1.5rem; }

@media only screen and (min-width: 800px) {
  .project-card--lower {
    margin-top: 8rem; } }

.project-card__header h3 {
  font-family: SourceSansPro-Bold;
  font-size: 24px;
  letter-spacing: 0;
  margin-bottom: 0; }

.project-card__header p {
  letter-spacing: 0;
  line-height: 30px;
  margin: 0; }

/*
 * FOOTER
*/
.footer-copyright {
  background-color: #A7DDD8;
  font-size: 1.4rem;
  line-height: 90px; }
  .footer-copyright img {
    float: right;
    width: 100px; }
  .footer-copyright .row {
    margin-bottom: 0; }

/*
 * MISC & HELPERS 
*/
.spacer {
  margin: 10rem 0; }

.quote {
  font-family: Montserrat-Bold;
  font-size: 144px;
  color: rgba(75, 75, 75, 0.8);
  letter-spacing: 0;
  margin-top: 4rem; }

.overlay--profile {
  background-color: rgba(117, 117, 117, 0.9); }
