@import 'vendor/materialize';

body {
  background-color: #f3f3f3;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  p {
    color: #444;
  }
}

main {
  flex: 1 0 auto;
}

main.row {
  margin: 0 0;
}

footer.page-footer{
  margin: 0 0;
}

#sidebar {
  background-color: color("cyan", "darken-4");
  min-height: 100vh;
  padding: 0 0;
  position: relative;
}

#bottom-sidebar {
  position: absolute;
  bottom: 0;
}

#profile_pic {
  margin-top: 50px;
  margin-bottom: 30px;
}
