@import 'vendor/materialize';
@import 'vendor/animate-sass/_animate';
$use-fadeIn: true;
@import 'sidebar';
@import 'mobile-nav';
@import 'profile-admin';
@import 'user-profile';
@import 'api';
@import 'admin-style';
@import 'resource';

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.page-wrapper {
  opacity: 0;
}
.preloader-wrapper {
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
}

nav, nav ul li {
  height: 100px;
}

nav ul li {
  line-height: 100px;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

nav .nav-wrapper ul li a i {
  float: left;
  line-height: 100px;
  margin-right: 10px;
}

p {
  line-height: 2rem;
}

a.active {
  font-weight: bold;
  color: #ffab40;
}
a.non-active {
  @extend .light-blue-text;
}

.button-collapse {
  color: #26a69a;
}





/*
 * Index Hero
*/
.parallax-container.index-hero {
  height: 100vh;
  line-height: 8vh;
}
@media only screen and (min-width : 800px) {
  .parallax-container.index-hero {
    height: 80vh;
  }
}

.index-hero h1 {
  animation-delay: 1.5s;
  font-size: 2rem;
}
@media only screen and (min-width : 600px) {
 .index-hero h1 {
    font-size: 4.2rem;
  }
}
.index-hero h5 {
  animation-delay: 2s;
}


/*
 * overlays
*/
.section {
  position: relative;
  z-index: 5;
}
.overlay {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.overlay--light {
  background-color: rgba(144,194,231,0.8);
}
.overlay--light-yellow {
  background-color: rgba(245,255,144,0.65);
}
.overlay--dark {
  background-color: rgba(9,35,39,0.8);
}
.overlay--dark {
  background-color: rgba(11,83,81,0.75);
}
.panda-descending {
  background-image: url('../panda.svg');
  background-position: 150% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}





.laptop {
  img {
    max-width: 100%;
  }
  background-image: none;
  @media only screen and (min-width: 600px) {
    background-image: url('../img/laptop-profile.png');
  }
  background-position: 120% 50px;
  background-repeat: no-repeat;
  background-size: 60%;
}

@media only screen and (min-width : 1200px) {
  .laptop {
    background-position: 120% 50%;
    background-repeat: no-repeat;
    background-size: 60%;
  }
}

@media only screen and (min-width : 800px) {
  .laptop {
    background-position: 120% 50%;
    background-repeat: no-repeat;
    background-size: 60%;
    min-height: 80vh;
  }
}

@media only screen and (max-width : 600px) {
  .laptop {
    background-position: center 90%;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}






.features-list li {
  margin-bottom: 4rem;
  width: 80%;
}
.features-list li i {
  float: left;
  margin-right: 10px;
}
.features-list li span {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.features-list li p {
  margin-left: 30px;
}






.color-section--light-gray {
  background-color: rgba(200,200,200,0.4);
}
.testimonial {
  min-height: 400px;
}



.amp {
  color: rgba(255,255,255,0.65);
  display: block;
  font-family: 'Georgia', serif;
  font-size: 10rem;
  font-style: italic;
  position: relative;
  margin-bottom: -3rem;
  z-index: 1;
}
h4 {
  position: relative;
  z-index: 5;
}

.uppercase {
  text-transform: uppercase;
}



.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  padding: 5rem 0;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}








.providers-tabs {
  border-bottom: 1px solid #ccc;
  span {
    font-size: 1.6rem;
    padding: 1rem 2rem 1rem;
    &:first-child {
      padding-left: 0;
    }
  }
  a {

  }
}











.section-login {
  padding: 4rem 0;
}







footer.page-footer {
  margin: 0;
}




// 404 not found
.not-found {
  background-image: url('http://media3.giphy.com/media/Hs6f36KUBjWww/giphy.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 100px;
  h2 {
    font-size: 5rem;
    margin-top: 10rem;
  }

}


iframe {
  width: 100%;
}


//home
.cardPad {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media only screen and (max-width : 600px) {
  .footer-copyright {
    font-size: 12px;
  }
}