@import 'vendor/materialize';

body {
  background-color: #f3f3f3;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  p {
    color: #444;
  }
}

main {
  flex: 1 0 auto;
}

main.row {
  margin: 0 0;
}

footer.page-footer{
  margin: 0 0;
}

#sidebar {
  min-height: 100vh;
}
