{{!-- <footer class="page-footer">
  <div class="container">
    <div class="row center-align">
      <div class="col s12">
        <h6>this is the footer</h6>
      </div>
    </div>
  <div>
</footer> --}}
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
