<!DOCTYPE html>
<html>
  <head>
    <title>Gulp &amp; Express &amp; Pug &amp; Stylus</title>
    <meta name="desctiption" content="">
    <meta name="desctiption" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <nav>
      <div class="container">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </nav>
