<div class="col s2" id="sidebar">
  <div class="container">
    <div class="row center-align">
      <div class="col s12" id="profile_pic">
        <img src="http://placehold.it/125x125" class="circle" alt="profile pic" />
      </div>
    </div>
  </div>
  <div class="collection center-align">
    <a href="#" class="collection-item sidebar-item">Profile</a>
    <a href="#" class="collection-item">Resources</a>
    <a href="#" class="collection-item">Jobs</a>
  </div>
  <div class="col s12" id="bottom-sidebar">
    <div class="collection center-align">
       <a href="#"class="collection-item col s6"><i class="small material-icons">settings</i></a>
       <a href="#"class="collection-item col s6"><i class="small material-icons">input</i></a>
    </div>
  </div>
</div>
